@model Models.MainPageVM
<h2>What should I play?</h2>
@using (Html.BeginForm("Play", "MainPage"))
{
    <p>
        @Html.LabelFor(x => x.Countries)
        @Html.DropDownListFor(x => x.CountrySelected, Model.Countries, "- Select -")
        @Html.ValidationMessageFor(x => x.CountrySelected)
    </p>
    <p>
        @Html.LabelFor( x => x.Genres)
        @Html.DropDownListFor(x => x.GenreSelected, Model.Genres, "- Select -")
        @Html.ValidationMessageFor(x => x.GenreSelected)
    </p>
    
     <p>
        <input type="submit" value="Play" />
    </p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
