@model Models.Author

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Author</legend>

        @Html.HiddenFor(model => model.AuthorId)

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.Name)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
           <h3>@Html.LabelFor(model => model.Password)</h3>
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
           <h3>@Html.LabelFor(model => model.GeneralInfo)</h3> 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GeneralInfo)
            @Html.ValidationMessageFor(model => model.GeneralInfo)
        </div>

        <div class="editor-label">
           <h3>@Html.LabelFor(model => model.LinkToSource)</h3> 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkToSource)
            @Html.ValidationMessageFor(model => model.LinkToSource)
        </div>
        <h3>Add a song?</h3>
        <p>
            <input type="file" name="file" id="files" style="cursor: pointer" />
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
